.paper_image{
    padding: 20px;
    width: auto;
    text-align: center;
}

.paper_abstract{
    width: auto;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: -60px;
    margin-right: 50px;
    margin-left: 50px;
}

.paper_box{
    height: 125px;
}

.project_image{
    object-fit: contain;
    text-align: center;
}

.project_text{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
