.paper_image{
    object-fit: contain;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom:100px;
    max-height: 100%;
    max-width: 100%;
    width: 220px;
    margin-top: 10px;
    text-align: center;
}

.paper_abstract{
    width: auto;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: -20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.paper_box{
    height: 80px;
}


#personal_image{
    object-fit: contain;
    padding: 25px;
    text-align: center;
    border-style: double;
    border-color: lightgrey;
    border-width: 1px;
}

#personal_text{
    margin-left: 80px;
    padding-left: 50px;
    padding-right: 30px;
}

.personal_image_text{
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
}

.personal_details{
    padding-bottom: 25px;
    width: auto;
}

.index_box2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: auto;
	border-width: 50px;
	border-bottom-width: 100px;
	border-style: solid;
    border-color: #7FB3D5;
}

.top40{
    margin-top: 40px;
}

.project_text{
    font-size: 15px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}